<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.miniproject.dataroom.DataMapper">
	<insert id="upload"
		parameterType="com.we.miniproject.dataroom.DataInfo">
		insert into
		bpbascp_dataroom
		values(bpbascp_dataroom_seq.nextval,
		#{bd_uploader},#{bd_title},#{bd_file},sysdate)
	</insert>
 	<select id="getDataCount"
		resultType="int">
		select count(*) as 
		from bpbascp_dataroom

	</select>

	<select id="getData"
		parameterType="java.util.HashMap"
		resultType="com.we.miniproject.dataroom.DataInfo">
		select bd_no, bd_uploader, bd_title, bd_file, bd_date,
		bm_photo
		from (
		select * from
		(
		select rownum as rn, bd_no, bd_uploader, bd_title, bd_file, bd_date from
		(select bd_no, bd_uploader, bd_title, bd_file, bd_date from
		bpbascp_dataroom order by bd_title )
		) where rn &gt;=#{start} and rn&lt;=#{end}
		),
		(
		select bm_photo, bm_id from bpbascp_member where bm_id in (
		select bd_uploader from
		(
		select rownum as rn, bd_no, bd_uploader, bd_title, bd_file, bd_date from
		(select bd_no, bd_uploader, bd_title, bd_file, bd_date from
		bpbascp_dataroom order by bd_title )
		)where rn &gt;=#{start} and rn&lt;=#{end}
		)
		)
		where bd_uploader = bm_id

	</select>
</mapper>