<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.miniproject.member.MemberMapper">
	<delete id="bye" parameterType="com.we.miniproject.member.Member">
		delete from bpbascp_member where bm_id = #{bm_id}
	</delete>
	
	<select id="getMemberByID" resultType="com.we.miniproject.member.Member" parameterType="com.we.miniproject.member.Member">
		select * from bpbascp_member where bm_id= #{bm_id} 		
	</select>
	<insert id="join" parameterType="com.we.miniproject.member.Member">
		 insert into bpbascp_member values
		 (#{bm_id},#{bm_pw},#{bm_name},#{bm_birthday},#{bm_address},#{bm_photo})
	</insert>
	<update id="infoChage" parameterType="com.we.miniproject.member.Member">
		update bpbascp_member set 
		bm_pw = #{bm_pw}, bm_photo = #{bm_photo}, bm_address = #{bm_address} 
		where bm_id =#{bm_id}
	</update>
</mapper>