@charset "EUC-KR";

table{
	border: "#00000000 solid 1px";
	background-color: rgb(128, 255, 0);
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding: 16px;
}
button{
	border-radius: 20px;
	border : 1px;
	background-color: #80ff80;
}
td span{
	font-size : 20px;

	margin: 8px;
}