@charset "UTF-8";
#dataRoomInput form{
	width: 250px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 50;
	padding: 6px;
	border: 3px solid black;
	border-radius: 5px;
}
#dataRoomInput form button{
	width: 100%;
	background-color: #00000000;
	color: white;
	border-radius: 5px;
}
#showData {
	width: 80%;
	margin: auto;
	overflow: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
#showData img{
	width: 250px;
}
#showData div{
	border: 2px solid black;
	margin: 6px;
	width: 45%;
	float: left;
	color: white;
	padding: 6px;
	border-radius: 5px;
}
#dataPage {
	text-align: center;
}
#dataPage div{
	display: inline-block;
	
}
#dataPage div a{
	color: white;
	text-align: center;
}