@charset "UTF-8";
#writeArea{
	width: 300px;
	position: fixed;
	right:0px;
	bottom:0px;
	z-index: 3;
	margin-right: 100px;
	margin-bottom: 50px;
}
#writeArea textarea {
	width: 90%;
	height: 220px;
	resize: none;
	background-color: #00000000;;
	border-radius: 7px;
	padding: 7px;
}
#writeArea textarea:hover{
	background-color: #57cdf480;
}
#writeArea textarea:focus {
	background-color: #57cdf4;
}
#writeArea button{
	border: none;
	background-color: #57cdf4;
	width: 50%;
	height: 20px;
	border-radius: 7px;
	margin :auto;
	
}
#post{
	width: 70%;
	margin: auto;
	
	
}

#post #textbox{
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	margin-bottom: 16px;
	background-color: #ffffff60;
	border-radius: 15px;
	padding: 20px;
}
#post #textbox a{
	float: right;
	color: white;
	font-family: white; 
}
#post img{
	width: 100px;
	object-fit: contain;
	display: block;
}
#post #text{
	width:100%;
	color: white;
	margin-left: 16px;
	display: block;
	
}
#post #text #postDate{
	float: right;
}
#post #page{
	text-align: center;
}
#post #page input{
	width: 150px;
}
#post #page button{
	border: none;
	background-color: #5ec9ed;
	margin-left: 16px;
	padding-top:1px;
	padding-bottom:1px;
	border-radius: 3px;
}
#post #page a{
	color: white;
	font-size: 20pt;
	
}
#comment{
	margin-bottom: 16px;
	background-color: #ffffff60;
	border-radius: 15px;
	padding: 20px;
}
#comment input{
	background-color: #00000000;
	border: none;
	border-bottom: 2px solid black;
}

#writeButton{
	float: right;
}
#writeForm{
	display: none;
}
#popupArea{
	position: fixed;
	top: -100%;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: #000000bb;
	transition: opacity 0.3s ease-out;
	z-index: 10;
}
#rewriteForm{
	margin-top: 20%;
	margin-left: 40%;
	width: 30%;
}
#rewriteForm textarea {
	width:100%;
	height:200px;
	resize: none;
	background-color: #103a5f;
	border: 2px solid black;
	border-radius: 3px;
	color: white;
}
#rewriteForm button{
	width: 100%;
	background-color: #00000000;

	color: white;
}
#cancleRewrite{
	margin-left: 40%;
}
.popupButton{
	float: right;
	border: none;
	background-color: #00000000;
	color: white;
	font-size: 11pt;
}
#cancleRewrite{
	width: 30%;
	background-color: #00000000;

	color: white;
}